.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero-content{
    position: absolute;
    bottom: 30%;
    left: 5%;
    padding: 20px;
    border-radius: 100px 0px 100px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    /* backdrop-filter: blur(3px); */
}

.hero-title{
    color: var(--primary-color);
    font-size: 4rem;
    padding: 15px;
    text-shadow: 5px 5px 5px black;
    /* backdrop-filter: blur(2px); */
    font-family: var(--decorative-font);
}

.hero-content h2{
    color: white;
    font-size: 3rem;
    padding: 10px;
    text-shadow: 5px 5px 5px black;
    font-style: italic;
}

.hero-content button{
    padding: 5px 30px;
    margin: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid white;
    transition: all 500ms;
}

.hero-content button:hover{
    cursor: pointer;
    padding: 5px 50px;
    border-radius: 20px;
    color: var(--primary-color);
    transition: all 500ms;
}

.hero-link{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: all 500ms;
}

.hero-link:hover{
    color: var(--primary-color);
    transition: all 500ms;
}

@media  screen and (max-width: 900px) {
    .hero-content{
        bottom: 15%;
        left: 3%;
        right: 3%;
        /* backdrop-filter: blur(3px); */
    }

    .hero-title{
        font-size: 2.5rem;
        padding: 0px;
        text-shadow: 5px 5px 5px black;
        backdrop-filter: blur(1px);
        text-align: center;
    }

    .hero-content h2{
        font-size: 1.8rem;
        padding: 0px;
        text-shadow: 5px 5px 5px black;
        font-style: italic;
        text-align: center;
    }

    .hero-content button{
        font-size: 1.4rem;
        border-radius: 10px;
        border: 1px solid white;
        transition: all 250ms;
        display: block;
        margin: 20px auto;
    }


}