.navbar{
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: black;
    opacity: 0.85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    margin-bottom: -70px;
    z-index: 10;
}

.navbar-logo{
    color: var(--primary-color);
    font-family: var(--decorative-font);
    font-size: 1.7rem;
}

.navbar-list{
    display: flex;
    list-style: none;
}

.navbar-list-item{
    white-space: nowrap;
}

.navbar-link{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 15px;
    margin: 0px 5px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: transparent;
    transition: 250ms;
}

.navbar-link:hover{
    border-color: var(--primary-color);
    transition: 250ms;
}

.hamburger-button{
    cursor: pointer;
    color: white;
    display: none;
}

@media  screen and (max-width: 900px) {
    .navbar-logo{
        color: var(--primary-color);
        font-family: var(--decorative-font);
        font-size: 1.3rem;
    }

    .navbar-list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 450px;
        transition: all 0.5s;
    }

    .navbar-list-active{
        left: 0%;

    }

    .navbar-list-item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        flex: 1;
    }

    .navbar-link{
        display: flex;
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0px;
        border-width: 0px;
        background-color: black;
        opacity: 0.8;
    }

    .navbar-link:hover{
        opacity: 0.9;
        color: var(--primary-color);
    }
    
    .hamburger-button{
        display: block;
    }
    
}

