.skills-container{
    background-color: black;
}

.skills-title{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 30px;
}

.skill-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
    margin: 0px 15%;
    padding: 20px;
}

.skill-card{
    width: 120px;
    height: 160px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 20px;
    transition: all 1s;
}

.skill-card:hover{
    transform: scale(1.1);
}


.skill-img-container{
    height: 120px;
    width: 120px;
    border-bottom: 1px dotted gray;
}

.skill-img-container img{
    height: 80px;
    width: 80px;
    margin: 20px;
}

.skill-name{
    display: flex;
    align-items: center;  
    height: 40px;
    color: white;
}

.skill-name p{
    width: 100%;
    text-align: center;
}

@media  screen and (max-width: 900px) {
    .skill-cards-container{
        width: 90%;
        justify-content: center;
        grid-gap: 20px;
        margin: 0px 5%;
        padding: 20px;
    }
}