*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}


:root{
  --primary-color:#ffa31a;
  --secondary-color: #4d0099;

  --decorative-font:"MonteCarlo", cursive;
}


